
body{
    background-color: var(--ternary-color);
}
.container{
    width: 80%;
    height: max-content;
    margin: auto;
  
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    height: 4.063rem;
    top: 0;
    z-index: 1;
    background-color: var(--ternary-color);
    justify-content: space-between;
    padding: 10px 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
    list-style: none;
}
.nav-links > li >a {
    padding: 8px;
    border-radius: 4px;
    text-align: center;
}
.nav-links > li >a:hover{
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    background-color:var(--gray-200)
}
.hero-heading{
    min-width: 32.5rem;
    height: 100%;
    align-self: center;
    flex-grow: 1;
}
.hero-img{
    width: 50rem;
    height: auto;
    margin-right:-6.25rem ;
}

.landing-page-container{
    margin-top: 6rem;
}