<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="d-flex justify-between flex-wrap gap-2" style="max-width: 500px;">

        <img class="responsive-img br-round" src="https://picsum.photos/200/200" alt="no-img">
        <img class="responsive-img" src="https://picsum.photos/200/200" alt="no-img">
        <img class="square-lg" src="https://picsum.photos/200/200" alt="no-img">
    </div>  
</body>
</html>