<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="d-flex  flex-wrap gap-2 ">
        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="https://picsum.photos/300/250" alt="no img">
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey & Black</h>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">Add to Cart</button> 
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <button class="btn-icon card-badge-topRight"> <span class="material-icons">favorite_border</span> </button>
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey & Black</h>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">Add to Cart</button> 
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <button class="btn-icon bg-white card-badge-topRight "> <span class="material-icons color-red-600 ">favorite</span> </button>
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey & Black</h>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-secondary w-100-per font-size-regular">View Cart</button> 
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <button class="btn-icon bg-white  card-badge-topRight"> <span class="material-icons color-gray-600 ">clear</span> </button>
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey & Black</h>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">View Cart</button> 
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <div class="badge-text bg-green-200 color-green-600 card-badge-topLeft font-size-sm"> <span class="material-icons badge-icon"> task_alt </span>Best Value</div>
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h class="font-size-sm color-gray-500">Grey & Black</h>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">View Cart</button> 
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <div class="badge-text bg-warn-200 color-warn-600 card-badge-topLeft font-size-sm"> <span class="material-icons badge-icon"> trending_up </span>Best Seller</div>
            </div>
            <div class="card-body">
                <h2 class="font-size-md m-0">Backpack</h2>
                <h6 class="font-size-sm color-gray-500 m-0">Grey & Black</h6>
                <div class="card-desc font-weight-600">
                    <div>₹ 699</div>
                    <div class="text-decoration-linethrough">₹ 1398</div>
                    <div class="color-green-600">50% off</div>
                </div>  
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">View Cart</button> 
        </div>
        <div class="card card-textonly p-relative">
            <h3 class="m-0">Backpack</h3>
            <h5>This is backpack</h5>
            <div class="card-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa iusto architecto quae? Sit, autem ab? Laboriosam fuga voluptatem dolorum, eveniet totam laborum repellat fugiat, impedit placeat ex, velit beatae.</div>
            <button class="btn-icon card-badge-topRight"> <span class="material-icons">clear</span> </button>
            <div class="card-footer">
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-outline">Cancel</button>
            </div>
        </div>
        <div class="card-horizontal">
            <div class="card-horizontal-media">    
                <img class="responsive-img" src="/src/img/backpack1.jpg" alt="no img">
            </div>
            <div class="d-flex flex-column p-1 gap-1 w-100-per">
                <div class="card-body-header">
                    <h2 class="font-size-md m-0">Backpack</h2>
                    <h class="font-size-sm color-gray-500">Grey & Black</h>
                    <div class="d-flex flex-column font-weight-600">
                        <div class="d-flex gap-1">
                            <span >₹ 699 </span>
                            <span class="text-decoration-linethrough"> ₹ 1398</span>
                        </div>
                        <div class="color-green-600">50% off</div>
                    </div>  
                </div>
                <button class="btn btn-add-cart btn-secondary w-100-per font-size-regular">Add to Cart</button> 
                <button class="btn btn-add-cart btn-outline w-100-per font-size-regular">Remove From Wishlist</button> 
            </div>
        </div>

        <div class="d-flex flex-column card br-top-sm">
            <div class="card-media">
                <img class="responsive-img br-top-sm" src="/src/img/backpack1.jpg" alt="no img">
                <div class="card-body card-body-overlay">
                    <h2 class="font-size-md m-0">Backpack</h2>
                    <h6 class="font-size-sm color-gray-500 m-0">Grey & Black</h6>
                    <div class="card-desc font-weight-600">
                        <div>₹ 699</div>
                        <div class="text-decoration-linethrough">₹ 1398</div>
                        <div class="color-green-600">50% off</div>
                    </div>  
                </div>
            </div>
            <button class="btn btn-add-cart btn-primary w-100-per font-size-regular">View Cart</button> 
        </div>

    </div>  
</body>
</html>