<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="d-flex justify-between flex-wrap gap-2">

        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-outline">Outline</button>
        <button class="btn-link">Link</button>
        <button class="btn-icon"> <span class="material-icons">delete</span> </button>
        <button class="btn-icon"><span class="material-icons">share</span></button>
        <button class="btn-icon"><span class="material-icons">shopping_cart</span></button>
        <button class="btn-icon"><span class="material-icons">send</span></button>
        <button class="btn-floating bg-red-200 square-md color-red-600 b-0 br-round"><span class="material-icons">edit</span></button>
        <button class="btn-floating bg-green-200 square-md color-green-600 b-0 br-round"><span class="material-icons">add</span></button>
    </div>  
</body>
</html>