<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="d-flex gap-2 justify-between m-2">
        Simple avatar
        <img  class="square-sm br-round"  src="/src/img/maleavatar.svg" alt="avatar not available">
        <img  class="square-md br-round"  src="/src/img/femaleavatar.svg" alt="avatar not available">
        <img  class="square-lg br-round"  src="/src/img/maleavatar.svg" alt="avatar not available">
    </div>

    <div class="d-flex gap-2 justify-between m-1">
        avatar with badges
        <div class="badge-parent">
            <img  class="square-sm br-round"  src="/src/img/femaleavatar.svg" alt="avatar not available">
            <div class="badgesFor-status bg-red-600"></div>
        </div>
        <div class="badge-parent">
            <img  class="square-md br-round"  src="/src/img/maleavatar.svg" alt="avatar not available">
            <div class="badgesFor-status badgesFor-status-md  square-xs bg-warn-600"></div>
        </div>
        <div class="badge-parent">
            <img  class="square-lg br-round"  src="/src/img/femaleavatar.svg" alt="avatar not available">
            <div class="badgesFor-status badgesFor-status-lg bg-green-600"></div>
        </div>
    </div>
    
</body>
</html>