<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utilities</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="toast fixed-bottom-left bg-green-200">
        <div class="toast-msg color-green-600"> <span class="material-icons">task_alt</span> Message Sent </div>
        <div class="toast-clear">
            <a class="toast-link" href="#">View Message</a>
            <button class="btn-icon"> <span class="material-icons">clear</span> </button>
        </div>
    </div>

    <div class="toast fixed-top-left bg-warn-200">
        <div class="toast-msg color-warn-600"> <span class="material-icons">warning</span> Can't send message </div>
        <div class="toast-clear">
            <a class="toast-link" href="#">View Message</a>
            <button class="btn-icon"> <span class="material-icons">clear</span> </button>
        </div>
    </div>
    <div class="toast fixed-bottom-right bg-gray-600">
        <div class="toast-msg color-white">Message Sent </div>
        <div class="toast-clear">
            <a class="toast-link" href="#">View Message</a>
            <button class="btn-icon"> <span class="material-icons">clear</span> </button>
        </div>
    </div>
    <div class="toast fixed-bottom-center bg-gray-600">
        <div class="toast-msg color-white">Message Sent </div>
        <div class="toast-clear">
            <a class="toast-link" href="#">View Message</a>
            <button class="btn-icon"> <span class="material-icons">clear</span> </button>
        </div>
    </div>
</body>
</html>