<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text utilities</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<style>
   
</style>
<body>
    <div class="w-100-per">
        <p class="text-center">This is centered text</p>      
        <p class="text-left">This is left text</p>
        <p class="text-right">This is right text</p>
        <p class="text-muted">This is disabled text</p>
        <p class="text-striketrough text-muted">This is disabled text</p>
        <p class="font-size-lg">This is large text</p>
        <p class="font-size-md">This is medium text</p>
        <p class="font-size-regular">This is regular text</p>
        <p class="font-size-sm ">This is small text</p>
        <p class="font-weight-600 ">This is Bold text</p>
        <p>This is <span class="hilighted-text bg-gray-200">Bold</span> text</p>
        <p>This is <span class="hilighted-text bg-warn-200">orange</span> text</p>
    </div>
   
    
</body>
</html>