<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alert</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>


<body>
    <div class="flex-container flex-column justify-between">
        <div class="alert alert-danger ">
            <span class="material-icons ">error</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-sucess ">
            <span class="material-icons ">check_circle</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-warning ">
            <span class="material-icons ">warning</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-gray ">
            <span class="material-icons ">help</span>
            Error occured can not complete action
        </div>

        
    </div>
</body>
</html>