<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alert</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="./alert.css">
</head>
<style>
    .alert-container{
  
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    min-height:55vh;
    justify-content: space-around;
}

</style>

<body>
    <div class="alert-container">
        <div class="alert alert-danger ">
            <span class="material-icons alert-icon">error</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-sucess ">
            <span class="material-icons alert-icon">check_circle</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-warning ">
            <span class="material-icons alert-icon">warning</span>
            Error occured can not complete action
        </div>

        <div class="alert alert-gray ">
            <span class="material-icons alert-icon">help</span>
            Error occured can not complete action
        </div>

        
    </div>
</body>
</html>